<template>
    <div id="app" class="map-container" :class="{'loader': isLoaded}">
        <div ref="map" class="map map-container__map"></div>
        <div class="map-container__point-collection-list">
            <label class="point-collection-selector" v-for="({name, id}) in pointsCollectionsSelectors" :key="id">
                <div class="point-collection-selector__check"><input type="checkbox" :value="id" v-model="shownPoints">
                </div>
                <div class="point-collection-selector__label">{{ name }}</div>
            </label>
        </div>
        <div class="map-container__goto-list">
            <div class="goto" v-for="({centerName, id}) in pointsCollectionsSelectors" :key="id" @click="onGoto(id)">
                to {{centerName}}
            </div>
        </div>
    </div>
</template>

<script>
    import 'maplibre-gl/dist/maplibre-gl.css'
    import maplibregl from 'maplibre-gl';
    import {MapBaseOptions, PointsCollections, createCollection} from './constants';
    import {getCookie, setCookie} from './utils';

    const points = getCookie('points')
    const shownPoints = points != null ? points.split(',').filter((id) => PointsCollections.some(({id: pointId}) => pointId === id)) : [PointsCollections[0].id];

    export default {
        name: 'App',
        data: () => ({
            map: null,
            shownPoints,
            isLoaded: false
        }),
        created() {

        },
        computed: {
            pointsCollectionsSelectors() {
                return PointsCollections
            },
            isInitMap() {
                return this.map !== null
            },
        },
        mounted() {
            this.initMap();
            this.fetchData();
        },
        destroyed() {
            this.destroyMap()
        },
        watch: {
            shownPoints() {
                const {shownPoints} = this;
                setCookie('points', shownPoints.join(','))
                this.fetchData();
            }
        },
        methods: {
            destroyMap() {
                if (!this.isInitMap) {
                    return;
                }
                this.map.remove()
            },
            initMap() {
                if (this.isInitMap) {
                    return;
                }
                const {shownPoints} = this;
                const firstPoint = shownPoints?.[0];
                const pointCollectionItem = firstPoint ? PointsCollections.find(({id}) => id === firstPoint) : PointsCollections[0];
                const {center} = pointCollectionItem
                this.map = new maplibregl.Map({
                    ...MapBaseOptions,
                    center,
                    container: this.$refs.map
                })
            },
            async fetchData() {
                if(!this.isInitMap){
                    return
                }
                if (this.isLoaded) {
                    return;
                }
                this.isLoaded = true;
                const {shownPoints, map} = this;

                const shownCollections = PointsCollections.filter(({id}) => shownPoints.includes(id));
                const shownCollectionsPoints = await Promise.all(shownCollections.map(({fetchMethod}) => fetchMethod()))

                PointsCollections
                    .forEach(({color, id}) => {
                        const index = shownCollections.findIndex(({id: shownId}) => shownId === id)
                        const {isSuccess, data} = shownCollectionsPoints?.[index] ?? {};
                        const collection = createCollection(isSuccess ? data : [])
                        const source = map.getSource(id);
                        if (map.getSource(id)) {
                            source.setData(collection.data)
                        } else {
                            map.addSource(id, collection);
                        }
                        if (!map.getLayer(`${id}_point`)) {
                            map.addLayer({
                                id: `${id}_point`,
                                source: id,
                                type: 'circle',
                                paint: {
                                    'circle-color': color,
                                    'circle-stroke-width': 1,
                                    'circle-stroke-color': '#fff'
                                }
                            });
                        }
                        if (!map.getLayer(`${id}_text`)) {
                            map.addLayer({
                                id: `${id}_text`,
                                source: id,
                                type: 'symbol',
                                layout: {
                                    'text-field': ['get', 'name'],
                                    'text-size': 10,
                                    'text-anchor': 'top'
                                }
                            });
                        }
                    })
                this.isLoaded = false;
            },
            onGoto(id) {
                const {map} = this;
                if (!this.isInitMap) {
                    return;
                }
                const {center} = PointsCollections.find(({id: pointId}) => pointId === id)
                map.setCenter(center)
            }
        }
    }
</script>

<style src="./assets/styles/style.css" lang="css" scoped/>
