.map-container {
    position: relative;
    height: 100vh;
    min-height: 300px;
    width: 100%
}
.map-container__map{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.map-container__point-collection-list {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, .5);
}
.map-container__goto-list {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
.map-container__goto-list > * + * {
    margin-left: 10px;
}
.goto{
    border-radius: 3px;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.map-container__point-collection-list > * + * {
    margin-top: 5px;
}
.point-collection-selector{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.point-collection-selector__check{
    margin-right: 5px;
}
.loader {
    position: relative;
    overflow: hidden;
}

.loader:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 14px solid #f3f3f3;
    border-top: 14px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.2);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}